.yt-tab-listing{
	margin: 20px 0;
	padding:0;
	overflow:hidden;
}
.yt-tab-listing .pre-text{
	margin: 0 0 15px 0;
} 
.yt-tab-listing .post-text{
	margin: 10px 0 0;
}

.yt-tab-listing .respl-wrap{
	margin:0;
	padding:0;
	font-family: questrial;
}

.yt-tab-listing a:hover{
	text-decoration: none;
}
/*-----------------------Css for Tabs ----------------------------*/
.yt-tab-listing .respl-wrap .respl-tabs-container{
	margin-bottom: 20px;
	padding: 0;
}

.yt-tab-listing .respl-tabs-container .respl-tabs{
	margin:0;
	padding:0;
	list-style:none;
}

.yt-tab-listing .respl-tabs-container .respl-tabs > li{
	background: #777777;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    line-height: 100%;
    margin: 0 10px 10px 0;
    padding: 8px 15px;
}

.yt-tab-listing .respl-tabs-container .respl-tabs > li.tab-sel,
.yt-tab-listing .respl-tabs-container .respl-tabs > li:hover{
	background: #80b601;
	cursor: pointer;
}

/*-----------------------------Css for Content----------------------*/
.yt-tab-listing .respl-wrap .respl-items-container{
	margin:0;
	padding:0;
}

.yt-tab-listing .respl-items-container .respl-items{
	margin:0;
	padding:0;
	width:100%;
	display:none;
	margin-left: -30px;
}

.yt-tab-listing .respl-items-container .respl-items-inner{
	margin:0;
	padding:0;
	width:100%;
	float: left;
}

.yt-tab-listing .respl-items-container .respl-items-selected{
	display:inline-block;
}

.yt-tab-listing .respl-items-container .respl-item-wrap {
	margin:0;
	padding:0;
 	opacity:0;
	filter:alpha(opacity = 0); 
}

.yt-tab-listing .respl-items-container .respl-items .respl-item{
	float:left;
	margin-bottom:30px;
	opacity:0;
	filter:alpha(opacity = 0);
	padding-left: 30px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner{
	border: 1px solid #e9e9e9;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-image{
	width: 100%;
	overflow: hidden;
	padding: 10px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-image img{
	width: 100%;
	border: 1px solid transparent;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;	
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-image img:hover{
	width: 100%;
	border: 1px solid #80B601;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-info{
	padding: 15px 10px 20px;
	overflow: hidden;
	color: #686868;
	font-size: 14px;
	border-top: 3px double #E9E9E9;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-info a{
	color: #686868;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-info a:hover{
	color: #80b601;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-title{
	line-height: 100%;
	font-size: 18px;
	margin-bottom: 5px;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-price{
	color: #f48f00;
	font-size: 12px;
	font-family: arial;
	margin-bottom: 10px;	
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-price .price-box,
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .ratings{
	margin: 0;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review{
	font-family: arial;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .ratings .rating-box{
	margin: 0 10px 10px 0;
}
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .rating-links,
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .no-rating{
	margin-bottom: 10px;
}
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .no-rating{
	float: left;
}
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-addcart,
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-wishlist,
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-compare{
	margin-top: 5px;
	display: inline-block;
	width: 100%;
}
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-addcart{
	margin-top: 0;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-addcart a{
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    line-height: 100%;
    margin: 0 10px 0 0;
    padding: 8px 15px;
    background: #777;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-addcart a:hover{
    color: #FFFFFF;
    background: #80B601;
}


.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-desc{
	line-height: 140%;
	margin-bottom: 5px;
}

.yt-tab-listing .respl-items  .respl-loading{
	width: 100%; 
	max-width: 100%;
	padding: 0; 
	position: relative;
    background: url(../images/loader.gif) no-repeat scroll center center transparent;
	min-height:300px;
	display:block;
	z-index:0;
}

.yt-tab-listing .respl-items-container .respl-loadmore{
	display:block;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	margin-left: 30px;
	width: 100%;
}

.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn{
	padding: 6px 20px;
	display:inline-block;
	background: #777;
	color:#FFF;
	font-size: 18px;
	line-height: 132%;
	cursor:pointer;
	position: relative;
}

.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn:hover{
	background: #80b601;
}

.yt-tab-listing .respl-items .respl-loadmore .respl-image-loading{
	background: url("../images/load.gif") no-repeat scroll center center transparent;
	width:24px;
	height:24px;
	display:none;
	margin-right:10px;
	vertical-align:middle;
	position: absolute;
	top: 6px;
	left: 20px;
}

.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn:before{
	content: attr(data-label);
}
.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn.loading:before{
	content: attr(data-label-load);
}

.yt-tab-listing .respl-items.respl-process .respl-loadmore {
	display:none;
}
.yt-tab-listing .respl-items .respl-loadmore .load-number:before{
	content: attr(data-more);
/* 	margin:0 3px; */
}

.yt-tab-listing .respl-items .respl-loadmore .load-number:after{
	content: attr(data-total);
/* 	margin:0 3px; */
}
/*-----------------------------Css for Responsive ----------------------*/
.yt-tab-listing .respl-items-container .respl-items.respl01-1{
	margin: 0;
}
.yt-tab-listing .respl01-6 .respl-item{ width: 16.6666%;}
.yt-tab-listing .respl01-5 .respl-item{ width: 20%; }
.yt-tab-listing .respl01-4 .respl-item{ width: 25%; }
.yt-tab-listing .respl01-3 .respl-item{ width: 33.3333%; }
.yt-tab-listing .respl01-2 .respl-item{ width: 50%; }
.yt-tab-listing .respl-items-container .respl-items.respl01-1 .respl-item{ width: 100%; padding: 0;}

@media all and (max-width: 767px){
	.yt-tab-listing .respl-items-container .respl-items.respl04-1{
		margin: 0;
	}
	.yt-tab-listing .respl04-6 .respl-item{ width: 16.64%; }
	.yt-tab-listing .respl04-5 .respl-item{ width: 19.958%; }
	.yt-tab-listing .respl04-4 .respl-item{ width: 24.995%; }
	.yt-tab-listing .respl04-3 .respl-item{ width: 33.315%; }
	.yt-tab-listing .respl04-2 .respl-item{ width: 49.985%; }
	.yt-tab-listing .respl-items-container .respl-items.respl04-1 .respl-item{ width: 100%; padding: 0;}
	.yt-tab-listing .respl04-1 .clr1,
	.yt-tab-listing .respl04-2 .clr2,
	.yt-tab-listing .respl04-3 .clr3,
	.yt-tab-listing .respl04-4 .clr4,
	.yt-tab-listing .respl04-5 .clr5,
	.yt-tab-listing .respl04-6 .clr6{
		clear:both;
	}
}

@media all and (min-width: 768px) and (max-width: 979px){
	.yt-tab-listing .respl-items-container .respl-items.respl03-1{
		margin: 0;
	}
	.yt-tab-listing .respl03-6 .respl-item{ width: 16.6666%; }
	.yt-tab-listing .respl03-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl03-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl03-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl03-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl03-1 .respl-item{ width: 100%; padding: 0; }
	.yt-tab-listing .respl03-1 .clr1,
	.yt-tab-listing .respl03-2 .clr2,
	.yt-tab-listing .respl03-3 .clr3,
	.yt-tab-listing .respl03-4 .clr4,
	.yt-tab-listing .respl03-5 .clr5,
	.yt-tab-listing .respl03-6 .clr6{
		clear:both;
	}
}	

@media all and (min-width: 980px) and (max-width: 1199px){ 
	.yt-tab-listing .respl-items-container .respl-items.respl02-1{
		margin: 0;
	}
	.yt-tab-listing .respl02-6 .respl-item{ width: 16.6666%; }
	.yt-tab-listing .respl02-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl02-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl02-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl02-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl02-1 .respl-item{ width: 100%; padding: 0;}
	.yt-tab-listing .respl02-1 .clr1,
	.yt-tab-listing .respl02-2 .clr2,
	.yt-tab-listing .respl02-3 .clr3,
	.yt-tab-listing .respl02-4 .clr4,
	.yt-tab-listing .respl02-5 .clr5,
	.yt-tab-listing .respl02-6 .clr6{
		clear:both;
	}
}  

@media all and (min-width: 1200px ) and (max-width: 1599px){
	.yt-tab-listing .respl-items-container .respl-items.respl01-1{
		margin: 0;
	}
	.yt-tab-listing .respl01-6 .respl-item{ width: 16.6666%;}
	.yt-tab-listing .respl01-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl01-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl01-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl01-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl01-1 .respl-item{ width: 100%; padding: 0;}
	.yt-tab-listing .respl01-1 .clr1,
	.yt-tab-listing .respl01-2 .clr2,
	.yt-tab-listing .respl01-3 .clr3,
	.yt-tab-listing .respl01-4 .clr4,
	.yt-tab-listing .respl01-5 .clr5,
	.yt-tab-listing .respl01-6 .clr6{
		clear:both;
	}
}

@media all and (min-width: 1600px ){
	.yt-tab-listing .respl-items-container .respl-items.respl00-1{
		margin: 0;
	}
	.yt-tab-listing .respl00-6 .respl-item{ width: 16.6666%;}
	.yt-tab-listing .respl00-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl00-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl00-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl00-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl00-1 .respl-item{ width: 100%; padding: 0; }
	.yt-tab-listing .respl00-1 .clr1,
	.yt-tab-listing .respl00-2 .clr2,
	.yt-tab-listing .respl00-3 .clr3,
	.yt-tab-listing .respl00-4 .clr4,
	.yt-tab-listing .respl00-5 .clr5,
	.yt-tab-listing .respl00-6 .clr6{
		clear:both;
	}
}

/*-----------------------------ClearFix----------------------*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}